<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css" 
    integrity="sha512-ZRv40llEogRmoWgZwnsqke3HNzJ0kiI0+pcMgiz2bxO6Ew1DVBtWjVn0qjrXdT3+u+pSN36gLgmJiiQ3cQtyzA==" 
    crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <style> 
        /* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;600&display=swap'); */
        body{
            /* font-family: 'Josefin Sans', sans-serif; */
            background-color: #f4f4f4;
            color:#707070;
        }
        .page-container{
            width: 380px;
            height: 480px;
            margin: 0 auto;
            background-color: #ffffff;
            height: auto;
            padding: 0 18px 18px 18px;
        }
        h1,h3{
            margin-top:0;
            margin-bottom: 0;
        }
        .dates:hover{
            background-color: #00bcd4;
            color: #ffffff;
            cursor: pointer;
        }
        .active{
            background-color: #00bcd4;
            color: #ffffff;
        }
        .image-frame{
          margin-top: 12px;
          margin-bottom: 12px;
          border-radius: 12px;
        }

        img{
          display: block;
          width: 100%;
        }

        .card{
          background-color: #bce0fd;
          color: #707070;
        }
        .title,
        .subtitle{
          color: #707070;
          margin-top: 24px;
        }
        hr{
            margin:0;
        }

    </style>
    <title>mHealth</title>
   
</head>
<body>
  
    <div class="container">
      <div style="height: 60px; width: 380px; margin: 0 auto; background-color: #2699fb;padding-top: 18px;">
       <h2 class="subtitle is-6 has-text-centered" style="color:#ffffff;margin-top: 0;">Featured Article</h2>
      </div>
        <div class="page-container">
            <div>
                <img src="images/a_one.png" alt="">
            </div>
            <h1 class="title is-4">Understanding Blood Pressure Readings</h1>
            <p>Source: American Heart Association</p>
            <hr>
            <h2 class="title is-5">What do your blood pressure numbers mean?</h2>
            <p style="margin-bottom: 12px;">The only way to know if you have high blood pressure (HBP, or hypertension) is to have your blood pressure tested. Understanding your results is key to controlling high blood pressure.</p>
            
            <h2 class="title is-5">Healthy and unhealthy blood pressure ranges</h2>

            <p style="margin-bottom: 12px;">Learn what’s considered normal, as recommended by the American Heart Association.</p>
            <p style="margin-bottom: 36px">Note: A diagnosis of high blood pressure must be confirmed with a medical professional. A doctor should also evaluate any unusually low blood pressure readings.</p>

            <h2 class="title is-5">Blood pressure categories</h2>

            <p>Blood pressure numbers of less than 120/80 mm Hg are considered within the normal range. If your results fall into this category, stick with heart-healthy habits like following a balanced diet and getting regular exercise.</p>
            <p>Elevated blood pressure is when readings consistently range from 120-129 systolic and less than 80 mm Hg diastolic. People with elevated blood pressure are likely to develop high blood pressure unless steps are taken to control the condition.</p>

            <p>Hypertension Stage 1 is when blood pressure consistently ranges from 130-139 systolic or 80-89 mm Hg diastolic. At this stage of high blood pressure, doctors are likely to prescribe lifestyle changes and may consider adding blood pressure medication based on your risk of atherosclerotic cardiovascular disease (ASCVD), such as heart attack or stroke.Learn more about your risk with our Check. Change. Control. Calculator™.</p>
            <p>Hypertension Stage 2 is when blood pressure consistently ranges at 140/90 mm Hg or higher. At this stage of high blood pressure, doctors are likely to prescribe a combination of blood pressure medications and lifestyle changes.</p>
            <p>This stage of high blood pressure requires medical attention. If your blood pressure readings suddenly exceed 180/120 mm Hg, wait five minutes and then test your blood pressure again. If your readings are still unusually high, contact your doctor immediately. You could be experiencing a hypertensive crisis.

            If your blood pressure is higher than 180/120 mm Hg and you are experiencing signs of possible organ damage such as chest pain, shortness of breath, back pain, numbness/weakness, change in vision or difficulty speaking, do not wait to see if your pressure comes down on its own. Call 911.</p>
            <h2 class="title is-5">Your blood pressure numbers and what they mean</h2>
            <p>
                Your blood pressure is recorded as two numbers:
Systolic blood pressure (the first number) – indicates how much pressure your blood is exerting against your artery walls when the heart beats.

Diastolic blood pressure (the second number) – indicates how much pressure your blood is exerting against your artery walls while the heart is resting between beats.
            </p>
            <h2 class="title is-5">Which number is more important?</h2>
            <p>Typically, more attention is given to systolic blood pressure (the first number) as a major risk factor for cardiovascular disease for people over 50. In most people, systolic blood pressure rises steadily with age due to the increasing stiffness of large arteries, long-term buildup of plaque and an increased incidence of cardiac and vascular disease.

                However, either an elevated systolic or an elevated diastolic blood pressure reading may be used to make a diagnosis of high blood pressure. According to recent studies, the risk of death from ischemic heart disease and stroke doubles with every 20 mm Hg systolic or 10 mm Hg diastolic increase among people from age 40 to 89.</p>
            <h2 class="title is-5">Why blood pressure is measured in mm Hg</h2>
            <p>The abbreviation mm Hg means millimeters of mercury. Mercury was used in the first accurate pressure gauges and is still used in medicine today as the standard unit of measurement for pressure.</p>

            <h2 class="title is-5">Taking your pulse versus checking your blood pressure</h2>
            <p>While both are indications of health, blood pressure and heart rate (pulse) are two separate measurements. Learn more about the difference between blood pressure and heart rate.</p>
        </div>
    </div>
    

    <!-- <script>
        const configs = {
            baseUrl: "https://cdr.code4health.org/rest/openehr/v1",
            subjectId: "114206069",
            subjectNameSpace: "jm.gov.nin",
            ehrId: "1e624288-8cda-4ede-a507-92679ffaf87c",
            headers: {
                "Authorization": "Basic NGNjZTVhMDctYmU0ZC00MzE4LWE5NGYtM2I4NDAxODUzYTIwOiQyYSQxMCQ2MTlraQ==",
                "Cookie": "_2269c=http://10.0.0.203:8080",
                "Prefer": "return=minimal",
                "Content-Type": "application/json",
            }
        }

        let url = `${configs.baseUrl}/ehr?subject_id=${configs.subjectId}&subject_namespace=${configs.subjectNameSpace}`
        //console.log(url)
        fetch(url, {
            headers: configs.headers
        })
        .then(response => response.json())
        .then(data => console.log(data))

        fetch('./users.json')
        .then(response => response.json())
        .then(users => {
            const length = users.length;
            for(let i = 0; i < length; i++){
                if(users[i].loggedIn === "true"){
                    document.getElementById("name").innerText = users[i].firstName
                }
            }
        })

        
    </script> -->
</body>
</html>
