<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css" 
    integrity="sha512-ZRv40llEogRmoWgZwnsqke3HNzJ0kiI0+pcMgiz2bxO6Ew1DVBtWjVn0qjrXdT3+u+pSN36gLgmJiiQ3cQtyzA==" 
    crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <style> 
        @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;600&display=swap');
        body{
            font-family: 'Josefin Sans', sans-serif;
        }
        .page-container{
            width: 380px;
            height: 480px;
            margin: 0 auto;
            background-color: #f4f4f4;
            height: auto;
            padding: 24px;
        }
        h1,h3{
            margin-top:0;
            margin-bottom: 0;
        }
        .dates:hover{
            background-color: #00bcd4;
            color: #ffffff;
            cursor: pointer;
        }
        .active{
            background-color: #00bcd4;
            color: #ffffff;
            padding: 2px;
        }
        .heading{
            text-transform: none;
            font-size: 16px;
        }

    </style>
    <title>mHealth</title>
   
</head>
<body>
    <div class="container">
        <div class="page-container">
            <nav class="level is-mobile">
                <div class="level-left">
                    <div class="level-item">
                        <a href="/"><i class="fas fa-caret-left"></i> Back</a>
                      </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <i class="fas fa-user-circle fa-2x"></i>
                      </div>
                </div>                
               
              </nav>
              <div style="margin-bottom:32px">
                <!-- <h3 class="subtitle is-6">Hello</h3> -->
            <h1 class="title has-text-centered">Today <%= screenLabel %> </h1>
            </div>
            
            <div style="margin-bottom: 32px;">
                <nav class="level is-mobile" >
                    <div class="level-item has-text-centered dates">
                      <div>
                        <!-- <p class="title">1</p> -->
                        <p class="heading active">Today</p>                    
                      </div>
                    </div>
                    <div class="level-item has-text-centered dates">
                        <div>
                          <p class="heading">Weekly</p>                    
                        </div>
                      </div>
                      <div class="level-item has-text-centered dates" >
                        <div>
                          <p class="heading">Monthly</p>                    
                        </div>
                      </div>
                      <div class="level-item has-text-centered dates">
                        <div>
                          <p class="heading">Annually</p>                    
                        </div>
                      </div>
                  </nav>
            </div>
            <div style="width: 200px;margin: 32px auto">
                <div class="card">
                    <div class="card-content">
                    <p style="font-weight: 600; font-size: 16px;" class="has-text-centered"> Highest Value </p>
                      <p class="title is-1 has-text-centered" style="margin-bottom: 0;margin-top: 12px;">200</p>
                    </div>
                  </div>
            </div>

            <!-- <h2 class="title is-5">My Activity</h2> -->
            <div class="ct-chart ct-perfect-fourth" ></div>


        </div>
    </div>
    

    <script>
        let data = '<%-JSON.stringify(chartData)%>'
        let parsedData = JSON.parse(data)
        new Chartist.Line('.ct-chart', parsedData, {
            low: 0,
            showArea: true
        });

        
        // const configs = {
        //     baseUrl: "https://cdr.code4health.org/rest/openehr/v1",
        //     subjectId: "114206069",
        //     subjectNameSpace: "jm.gov.nin",
        //     ehrId: "1e624288-8cda-4ede-a507-92679ffaf87c",
        //     headers: {
        //         "Authorization": "Basic NGNjZTVhMDctYmU0ZC00MzE4LWE5NGYtM2I4NDAxODUzYTIwOiQyYSQxMCQ2MTlraQ==",
        //         "Cookie": "_2269c=http://10.0.0.203:8080",
        //         "Prefer": "return=minimal",
        //         "Content-Type": "application/json",
        //     }
        // }

        // let url = `${configs.baseUrl}/ehr?subject_id=${configs.subjectId}&subject_namespace=${configs.subjectNameSpace}`
        // //console.log(url)
        // fetch(url, {
        //     headers: configs.headers
        // })
        // .then(response => response.json())
        // .then(data => console.log(data))

        // fetch('./users.json')
        // .then(response => response.json())
        // .then(users => {
        //     const length = users.length;
        //     for(let i = 0; i < length; i++){
        //         if(users[i].loggedIn === "true"){
        //             document.getElementById("name").innerText = users[i].firstName
        //         }
        //     }
        // })

        
    </script>
</body>
</html>
