<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css"
      integrity="sha512-ZRv40llEogRmoWgZwnsqke3HNzJ0kiI0+pcMgiz2bxO6Ew1DVBtWjVn0qjrXdT3+u+pSN36gLgmJiiQ3cQtyzA=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;600&display=swap");
      body {
        font-family: "Josefin Sans", sans-serif;
      }
      .page-container {
        width: 380px;
        height: auto;
        margin: 0 auto;
        background-color: #f4f4f4;
        padding: 24px;
      }
      h1,
      h3 {
        margin-top: 0;
        margin-bottom: 0;
      }
      .dates:hover {
        background-color: #00bcd4;
        color: #ffffff;
        cursor: pointer;
      }
      .active {
        background-color: #00bcd4;
        color: #ffffff;
      }

      #bp {
        margin-bottom: 24px;
      }

      #general {
        display: none;
        margin-bottom: 24px;
      }
    </style>
    <title>mHealth</title>
  </head>
  <body>
    <div class="container">
      <div class="page-container">
        <nav class="level is-mobile">
          <div class="level-left">
            <!-- <div class="level-item">
              <a href="/"><i class="fas fa-caret-left"></i> Back</a>
            </div> -->
          </div>
          <div class="level-right">
            <div class="level-item">
              <a href="/">
                <i class="fas fa-times fa-2x"></i>
              </a>
              
            </div>
          </div>
        </nav>
        <div style="margin-bottom: 32px">          
          <h1 class="title" style="text-align: center;">You have successfully added a new measurement</h1>
          <div style="width: 130px; margin: 0 auto;border:1px solid red">
            <i class="far fa-check-circle fa-8x"></i> 
          </div>
          
        </div>    
        
       
  </body>
</html>
